__pycache__/
.DS_Store
.vscode/
*.txt
*.pth
dist/
*.egg-info
build/

_DEPRECATED_CNN/data/
_DEPRECATED_CNN/models/*
!_DEPRECATED_CNN/requirements.txt
!_DEPRECATED_CNN/models/best-resnet-all.pth
!_DEPRECATED_CNN/models/best-resnet-linux.pth
!_DEPRECATED_CNN/models/best-resnet-windows.pth
!_DEPRECATED_CNN/obfuscation_detection/files/*.pth