__pycache__/
.DS_Store
.vscode/
data/
models/*
test-scripts/
*.txt
*.pth
!models/best-resnet-all.pth
!models/best-resnet-linux.pth
!models/best-resnet-windows.pth
!obfuscation_detection/files/*.pth
dist/
*.egg-info